html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

@media screen and (orientation: landscape) {
  #toolbar {
  position: fixed;
  width: 2.65em;
  height: 100%;
  }
  p{
    margin-left: 2em;
  }
  
  li + li{
    margin-top: .5em;
  }
}